* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.heading {
  color: green;
  font-size: 16;
  text-align: center;
  margin: 50px 0;
  text-transform: capitalize;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}